
.loadingContainer{
  z-index: 15;
  background-color: #4A0084;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.loadingN{
  color: aliceblue;
}